.AppHeader {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.65s;
  background-color: transparent;

  &--top {
    background-color: $dark;
  }

  &__nav {
    font-size: 14px;

    a {
      transition: color 0.4s;
      color: #e5e5e5;

      &:hover {
        color: #b3b3b3;
      }

      &.active {
        font-weight:bold;
        color:#ffffff;
      }

    }
  }
}
