.AppHeader {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.65s;
  background-color: transparent;

  &--top {
    background-color: $dark;
  }

  &__nav {
    font-size: 14px;
  }
}
