@import '../../../../node_modules/tiny-slider/src/tiny-slider.scss';

.AppSlider {
  .tns-item {
    height: 131px;
    background: #fafafb;
  }

  .tns-item:nth-child(odd) {
    background: #c8e1ff;
  }
}
