@import '../../../../node_modules/tiny-slider/src/tiny-slider.scss';

.AppSlider {
  &__minus-margin {
    position: relative;
    z-index: 1;
    margin-top: -325px;
  }

  .tns-item {
    height: 131px;
    background: #fafafb;
  }

  .tns-item:nth-child(odd) {
    background: #c8e1ff;
  }
}
